NODE_ENV=test

JWT_SECRET=<replace-with-at-least-32-characters>

POSTGRES_DB=<database-name>
POSTGRES_USER=<database-user>
POSTGRES_PASSWORD=<replace-me>

DATABASE_PORT=5434
DATABASE_URL=postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@localhost:<DATABASE_PORT>/<POSTGRES_DB>?schema=public

REDIS_HOST=localhost
REDIS_PORT=6381