NODE_ENV=development

BACKEND_PORT=4200

JWT_SECRET=<replace-with-at-least-32-characters>

POSTGRES_DB=<database-name>
POSTGRES_USER=<database-user>
POSTGRES_PASSWORD=<replace-me>

DATABASE_PORT=5433
DATABASE_URL=postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@localhost:<DATABASE_PORT>/<POSTGRES_DB>?schema=public

PGADMIN_PORT=5051
REDISINSIGHT_PORT=5541

REDIS_HOST=localhost
REDIS_PORT=6380