@use "@/styles/tokens" as *;

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.newPasteButton,
.signInButton {
  padding: 10px 15px;
}

.newPasteButton {
  color: $button-text;
  background: $primary;
}

@media (max-width: 840px) {
  .newPasteButton,
  .signInButton {
    display: none;
  }
}
